body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  height: fit-content;
  width: fit-content;
  padding:5px;
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.bigbutton {
  margin-left: 10px;
  height: 12vh;
  width: 8vh;
}

.pink {
  background-color: pink;
}

.red {
  background-color: lightcoral;
}

.green {
  background-color: lightgreen;
}

.darkgreen {
  margin-top: 10px;
  margin-bottom: 20px;
  color: lightgreen;
  background-color: darkgreen;
}

.centered {
  text-align: center;
}